<div class="row"> <!-- for mobiles - where it can cut to another row -->
  <div class="col-xs-12"> <!-- xs allows scalable from mobile phones to larger (12 is full width) -->
    <form (ngSubmit)="onSubmit()" [formGroup]="recipeForm"> <!-- data binding to formGroup - based on our initForm() -->

      <div class="row">
        <div class="col-xs-12">
          <button
            [disabled]="!recipeForm.valid"
            class="btn btn-success" type="submit"> <!-- btn success green, type submit to submit info -->
            Save
          </button>
          <button
            (click)="onCancelRecipe()"
            class="btn btn-danger" type="button">
            Cancel
          </button>
        </div>
      </div>

      <div class="row"> <!-- name of recipe -->
        <div class="col-xs-6">
          <div class="form-group">
            <label for="name">Name</label>
            <input class="form-control"
                   formControlName="name"
                   id="name"
                   type="text"> <!-- form-control (variable that will be edited), formControlName - how to reference -->
          </div>
        </div>
      </div>

      <div class="row"> <!-- image url -->
        <div class="col-xs-12">
          <div class="form-group">
            <label for="imageUrl">Image URL</label>
            <input #imageUrl
                   class="form-control"
                   formControlName="imageUrl"
                   id="imageUrl"
                   type="text">
          </div>
        </div>
      </div>

      <div class="row"> <!-- image preview -->
        <div class="col-xs-12">
          <img [src]="imageUrl.value" class="img-responsive"> <!-- "img responsive" so it scales to how we want -->
        </div>
      </div>

      <div class="row"> <!-- Youtube video url -->
        <div class="col-xs-12">
          <div class="form-group">
            <label for="youtubeUrl">YouTube Video URL</label>
            <input class="form-control"
                   formControlName="youtubeUrl"
                   id="youtubeUrl"
                   type="text">
          </div>
        </div>
      </div>

      <!-- video preview?? -->

      <div class="row"> <!-- Description -->
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control"
                      formControlName="description"
                      id="description"
                      rows="6"
                      type="text">
            </textarea> <!-- enough area for writing description about recipe -->
          </div>
        </div>
      </div>

      <div class="row"> <!-- Region -->
        <div class="col-xs-6">
          <div class="form-group">
            <label for="region">Region</label>
            <input class="form-control"
                   formControlName="region"
                   id="region"
                   type="text">
          </div>
        </div>
      </div>

      <div class="row"> <!-- Type of Food -->
        <div class="col-xs-6">
          <div class="form-group">
            <label for="typeOfFood">Type of Food</label>
            <input class="form-control"
                   formControlName="typeOfFood"
                   id="typeOfFood"
                   type="text">
          </div>
        </div>
      </div>

      <div class="row"> <!-- Method of Cooking -->
        <div class="col-xs-6">
          <div class="form-group">
            <label for="methodOfCooking">Method of Cooking</label>
            <input class="form-control"
                   formControlName="methodOfCooking"
                   id="methodOfCooking"
                   type="text">
          </div>
        </div>
      </div>

      <div class="row"> <!-- Cooking Time -->
        <div class="col-xs-12">
          <label for="cookingTime">Cooking Time in Minutes</label>
        </div>
        <div class="col-xs-2">
          <div class="form-group">
            <input class="form-control"
                   formControlName="cookingTime"
                   id="cookingTime"
                   type="number">
          </div>
        </div>
      </div>

      <div class="row"> <!-- Ingredients -->
        <div class="col-xs-12" formArrayName="ingredients">
          <label>Ingredients</label>
          <div
            *ngFor="let ingredientCtrl of controls; let i = index"
            [formGroupName]="i"
            class="row"
            style="margin-top: 8px;"> <!-- for each ingredient of ingredients -->
            <div class="col-xs-8"><!-- Ingredient ingredient -->
              <input class="form-control" formControlName="name" type="text">
            </div>
            <div class="col-xs-2"> <!-- Ingredient amount -->
              <input class="form-control" formControlName="amount" type="number">
            </div>
            <div class="col-xs-2"> <!-- delete an ingredient -->
              <button (click)="onDeleteIngredient(i)" class="btn btn-danger">X</button>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <button
            (click)="onAddIngredients()"
            class="btn btn-success"
            style="margin-top: 5px; margin-bottom: 5px;"
            type="button">
            Add Ingredient
          </button>
        </div>
      </div>

    </form>
  </div>
</div>
