<div class="row">
  <div class="col-md-5"> <!-- 5/12 sections of the screen -->
    <app-recipe-list></app-recipe-list>
  </div>
  <div class="col-md-7"> <!-- 7/12 sections of the screen -->
<!--    <app-recipe-specific-->
<!--      *ngIf="recipeItemClicked; else infoText"-->
<!--      [recipe]="recipeItemClicked">-->
<!--    </app-recipe-specific>-->
<!--      <ng-template #infoText>-->
<!--        <h3>Select type of Recipe to view here! (WILL BE UPDATED)</h3>-->
<!--      </ng-template>-->
    <router-outlet></router-outlet>
  </div>
</div>
