<div class="row">
  <div class="col-xs-12"> <!-- column using full available width-->
<!--    <img-->
<!--      src="{{recipe.imagePath}}"-->
<!--      alt=""-->
<!--      class="img-responsive" style="max-height: 300px">-->
    <app-video [videoUrl]="recipe.videoPath"></app-video> <!-- uses the videourl and method to provide videoID from youtube -->
  </div>
</div>
<div class="row">
  <div class="col-xs-12"> <!-- column using full available width-->
    <h3>{{recipe.name}}</h3>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group"
         appDropdown>
      <button type="button" class="btn btn-primary dropdown-toggle"><!-- button and dropdown feature  -->
        Manage recipe <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li>
          <a style="cursor: pointer;">Edit Recipe</a>
          <a style="cursor: pointer;">Delete Recipe</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <p>
      Description of Recipe:
      {{recipe.description}}
    </p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h5>
      Ingredients:
    </h5>
    <ul class="list-group">
      <li class="list-group-item"
      *ngFor="let ingredient of recipe.ingredients"> <!-- recipe is installed through input -->
        {{ingredient.name}}: {{ingredient.amount}} <!-- displays ingredient and amount -->
      </li>
    </ul>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <b>Region of Recipe:  </b>
    <p>
      {{recipe.region}}
    </p>
    <br>
    <b>
      Method of Cooking:
    </b>
    <p>
      {{recipe.methodOfCooking}}
    </p>
    <br>
    <b>
      Type of Food:
    </b>
    <p>
      {{recipe.typeOfFood}}
    </p>
    <br>
    <b>
      Cooking Time in Minutes:
    </b>
    <p>
      {{recipe.cookingTime}}
    </p>
  </div>
</div>
