<a style="cursor: pointer;"
   class="list-group-item clearfix"
   routerLinkActive="active"
   [routerLink]="[recipeIndex]"> <!-- blue container "active": routerLinkActive once activated link change,
   routerLink: changes the link to this recipe's index - to load that recipe-->

<!--   (click)="onImageClicked()"> - this was used before routing-->
  <!-- make it look like a list group item from bootstrap
   (click) starts method onImageClicked, which emits current recipe -
   to display at  recipe-specific - that specific recipe-->

  <div class="pull-left"> <!-- put on left side of the list -->
    <h4 class="list-group-item-heading"> <!-- heading for list (what recipe will contain) -->
      {{recipe.name}}
    </h4>
    <p class="list-group-item-text"> <!-- description for recipe -->
      {{recipe.description}}
    </p>
  </div>
  <span class="pull-right"> <!-- imagepath for recipe -->
      <img
            src="{{recipe.imagePath}}"
            alt="{{recipe.imagePath}}"
            class="img-responsive"
            style="max-height: 80px;">
  </span>
</a>
