<div class="row">
  <div class="col-xs-12"> <!-- Uses full width of page -->
    <button class="btn btn-success" (click)=onRecipeCreate()> Create New Recipe </button>
  </div>
</div>
<hr> <!-- horizontal line - space in between -->
<div class="row">
  <div class="col-xs-12"> <!-- Uses full width of page (12 represents whole screen) -->
    <app-recipe-item
      *ngFor="let recipeEl of recipes"
      [recipe]="recipeEl.recipe" [recipeKey]="recipeEl.id">
      <!-- the Elrecipe represents the item in for loop,
      [recipe] is the @input object in the component recipe-item -
      successful communication through parent and child component -->
    </app-recipe-item>
  </div>
</div>
