<div class="row">
    <div class="col-xs-12">
        <form>

            <div class="row">
                <div class="col-sm-5 form-group"> <!--small devices would use full width of screen-desktops smaller portion of screen
         form-group allows for customized display-->
                    <label for="name">
                        Name
                    </label>
                    <input class="form-control" id="name" type="text">
                    <!-- inputs where user will enter ingredient of ingredient -->
                </div>

                <div class="col-sm-2 form-group">
                    <label for="amount">
                        Amount
                    </label>
                    <input class="form-control" id="amount" type="text"> <!-- input amount of selected ingredient -->
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-success" type="submit"> <!-- submits the form, green button using success -->
                        Add
                    </button>
                    <button class="btn btn-danger" type="button"> <!-- red button for deleting ingredient -->
                        Delete
                    </button>
                    <button class="btn btn-primary" type="button"> <!-- blue button for clearingng ingredient -->
                        Clear
                    </button>

                </div>
            </div>

        </form>
    </div>
</div>
